:root {
  --color1: #1a4d2e;
  --color2: #ff9f29;
  --color3: #51557e;
  --color-blue: #1363df;
  --color-gray: #7f8487;
  --color-green: #36ae7c;
  --color-red: #f32424;
  --color-orange: #f66b0e;
  --color-light-blue: #34b3f1;
  --color-white: #f9f9f9;
  --color-black: #1b2430;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*! ------------------------------------- Styles buttons -------------------------------------- */
.btn-bg-red {
  background-color: var(--color-red);
}
.btn-bg-blue {
  background-color: var(--color-blue);
}
.btn-bg-gray {
  background-color: var(--color-gray);
}
.btn-bg-green {
  background-color: var(--color-green);
}
.btn-bg-orange {
  background-color: var(--color-orange);
}
.btn-bg-light-blue {
  background-color: var(--color-light-blue);
}
.btn-bg-white {
  background-color: var(--color-white);
}
.btn-bg-black {
  background-color: var(--color-black);
}
/*! ------------------------------------- Types buttons -------------------------------------- */
.btn-red {
  color: var(--color-red);
  border: 1px solid var(--color-red);
}
.btn-blue {
  color: var(--color-blue);
  border: 1px solid var(--color-blue);
}
.btn-gray {
  color: var(--color-gray);
  border: 1px solid var(--color-gray);
}
.btn-green {
  color: var(--color-green);
  border: 1px solid var(--color-green);
}
.btn-orange {
  color: var(--color-orange);
  border: 1px solid var(--color-orange);
}
.btn-light-blue {
  color: var(--color-light-blue);
  border: 1px solid var(--color-light-blue);
}
.btn-white {
  color: var(--color-white);
  border: 1px solid var(--color-white);
}
.btn-black {
  color: var(--color-black);
  border: 1px solid var(--color-black);
}

/*! ------------------------------------- Small => sm-------------------------------------- */

@media (min-width: 576px) {
  .cont-sm-1 {
    width: 10%;
  }
  .cont-sm-2 {
    width: 20%;
  }
  .cont-sm-3 {
    width: 30%;
  }
  .cont-sm-4 {
    width: 40%;
  }
  .cont-sm-5 {
    width: 50%;
  }
  .cont-sm-6 {
    width: 60%;
  }
  .cont-sm-7 {
    width: 70%;
  }
  .cont-sm-8 {
    width: 80%;
  }
  .cont-sm-9 {
    width: 90%;
  }
  .cont-sm-10 {
    width: 100%;
  }
}

/*! ------------------------------------- Medium => md -------------------------------------- */

@media (min-width: 768px) {
  .cont-md-1 {
    width: 10%;
  }
  .cont-md-2 {
    width: 20%;
  }
  .cont-md-3 {
    width: 30%;
  }
  .cont-md-4 {
    width: 40%;
  }
  .cont-md-5 {
    width: 50%;
  }
  .cont-md-6 {
    width: 60%;
  }
  .cont-md-7 {
    width: 70%;
  }
  .cont-md-8 {
    width: 80%;
  }
  .cont-md-9 {
    width: 90%;
  }
  .cont-md-10 {
    width: 100%;
  }
}

/*! ------------------------------------- Large => lg -------------------------------------- */

@media (min-width: 992px) {
  .cont-lg-1 {
    width: 10%;
  }
  .cont-lg-2 {
    width: 20%;
  }
  .cont-lg-3 {
    width: 30%;
  }
  .cont-lg-4 {
    width: 40%;
  }
  .cont-lg-5 {
    width: 50%;
  }
  .cont-lg-6 {
    width: 60%;
  }
  .cont-lg-7 {
    width: 70%;
  }
  .cont-lg-8 {
    width: 80%;
  }
  .cont-lg-9 {
    width: 90%;
  }
  .cont-lg-10 {
    width: 100%;
  }
}

/*! ------------------------------------- Extra large => xl -------------------------------------- */

@media (min-width: 1200px) {
  .cont-xl-1 {
    width: 10%;
  }
  .cont-xl-2 {
    width: 20%;
  }
  .cont-xl-3 {
    width: 30%;
  }
  .cont-xl-4 {
    width: 40%;
  }
  .cont-xl-5 {
    width: 50%;
  }
  .cont-xl-6 {
    width: 60%;
  }
  .cont-xl-7 {
    width: 70%;
  }
  .cont-xl-8 {
    width: 80%;
  }
  .cont-xl-9 {
    width: 90%;
  }
  .cont-xl-10 {
    width: 100%;
  }
}

/*! ------------------------------------- Extra extra large => xxl -------------------------------------- */

@media (min-width: 1400px) {
  .cont-xxl-1 {
    width: 10%;
  }
  .cont-xxl-2 {
    width: 20%;
  }
  .cont-xxl-3 {
    width: 30%;
  }
  .cont-xxl-4 {
    width: 40%;
  }
  .cont-xxl-5 {
    width: 50%;
  }
  .cont-xxl-6 {
    width: 60%;
  }
  .cont-xxl-7 {
    width: 70%;
  }
  .cont-xxl-8 {
    width: 80%;
  }
  .cont-xxl-9 {
    width: 90%;
  }
  .cont-xxl-10 {
    width: 100%;
  }
}
